.hero {
  background-image: linear-gradient(
    to right bottom,
    rgba(lightgreen, 0.7), 
    rgba(yellow, .8)),
    url('assets/lemon.jpg') !important;
    background-size: cover;
    background-position: center center;
  }



  
div.container {
      margin-top: -30rem;
  }