<section class="hero is-info is-fullheight is-bold">

  <div class="hero-header" *ngIf="!isEditing">
    <div class="container">
      <person-search class="person-search"></person-search>
    </div>

    <div class="container" *ngIf="person$ | async as person" >
      <image-modal #personImageModal [src]="person.photoUrl"></image-modal>
      <div class="card">
        <div class="level-right">
          <a class="profile-function" (click)="isEditing = !isEditing">[Edit] </a> 
          <a class="profile-function">[Add]
          </a> </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left"> 
              <figure class="image is-128x128" (click)="investigatePic()">
                <img src="{{person.photoUrl}}" alt="{{person.nickname}}" default>
              </figure>
            </div>
            <div class="media-content ">
              <p class="title is-4 has-text-info">
                <span class="icon  is-left" *ngIf="person.deceased">
                  <i class="fa fa-cross fa-cloud"></i>
                </span>
                <a [href]="searchFB(person)" target="_blank">{{person.name}} </a>

              </p>
              <p class="subtitle is-5 has-text-primary">"{{person.nickname}}"</p>
              <br />
              <p class="subtitle is-6 has-text-primary">
                Age: {{person.age}}
                <br />
                Birthday: {{person.dateOfBirth | date}}
                <br />
                <span *ngIf="person.deceased">Death: {{person.dateOfDeath | date}} </span>
              </p>
            </div>
          </div>
        </div>
      </div>


      <person-group [group-name]="'Parents'" [person-list]="person.parents"></person-group>
      <person-group [group-name]="'Siblings'" [person-list]="person.siblings"></person-group>
      <person-group [group-name]="'Children'" [person-list]="person.children"></person-group>

      <div *ngIf="person.relationships as relationships">
        <div *ngFor="let name of objectKeys(relationships)">
          <person-group [group-name]="name | titlecase" [person-list]="relationships[name]"></person-group>
        </div>
      </div>

    </div>
  </div>


  <person-edit *ngIf="isEditing && (person$ | async) as person" [person]="person"></person-edit>



</section>