<nav class="navbar" role="navigation" aria-label="main navigation">
  
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/home">
      <div class="logo"> </div>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" 
        [ngClass]="{'is-active':appMenu.toggled} " (click)="appMenu.toggle()">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu"  appMenu #appMenu=appMenu>
    <div class="navbar-start">
      

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Programming
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item"  (click)="appMenu.nav('/devtools/languages')">
            Languages
          </a>
          <a class="navbar-item" (click)="appMenu.nav('/devtools/ides')">
            IDE's
          </a>

          <a class="navbar-item" (click)="appMenu.nav('/devtools/resources')">
            Resources
          </a>

          <hr class="navbar-divider">
          <a class="navbar-item">
            Examplle
          </a>
        </div>
      </div>

      

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Interests
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item"  (click)="appMenu.nav('/interests/languages')">
            Languages
          </a>
          <a class="navbar-item" (click)="appMenu.nav('/interests/books')">
           Books
          </a>

          <a class="navbar-item" (click)="appMenu.nav('/interests/manga')">
            Comics/Manga
          </a>
        </div>
      </div>

      

      <a class="navbar-item" routerLink="people">
        Person Lookup
      </a>

      <a class="navbar-item" routerLink="private">
        Pirvate
      </a>

    </div>

    <div class="navbar-end">
        <div class="navbar-item" *ngIf="authService.isLoggedIn">  Hello, {{user.name}}! </div>
          
     
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-danger" *ngIf="authService.isLoggedIn" (click)="logout()">
            <strong>Log out</strong>
          </a>
          <a class="button is-light" *ngIf="!authService.isLoggedIn" 
         href="/login/google"
          >
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>