
.person-list{
    margin-top: .2rem;
  }
  
  .person-search{
    margin: .5rem 1rem;
    border: 2px solid ;
    border-color:#a7dda7;
    border-radius: 5px;
    padding: .5rem;
  }
  
  a.add-person{
    background-color: transparent !important;
  }